# Kinda messed up, named db newchapter not nextchapter
DB_URL=jdbc:postgresql://localhost:5432/newchapter_db
DB_USERNAME=
DB_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

GEMINI_API_KEY=